---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    title: "Plataforma de generación de tickets",
    company: "SITPE Soluciones",
    location: "Manzanillo, Colima",
    startDate: "Enero - 2024",
    endDate: "Junio - 2024",
    description:
      "Se desarrolló una plataforma de gestión de tickets de soporte que permite a los usuarios adjuntar evidencias en diversos formatos. Se implementaron tres roles: usuario común, quien crea los tickets; usuario de soporte, encargado de asignarse y dar seguimiento a los tickets; y usuario administrador, quien supervisa el flujo del proceso para garantizar su correcto desarrollo. Además, se integró un sistema de notificaciones que informa tanto al usuario creador como al administrador sobre el estado de los tickets, logrando que el 80% de ellos reciban un seguimiento personalizado.",
  },
  {
    title: "Desarrollo y planificación de un sitio web",
    company: "Tecnológico de Colima",
    location: "Colima, Colima",
    startDate: "Junio - 2023",
    endDate: "Julio - 2023",
    description:
      "Optimicé un archivo de Excel que contenía más de 100 mil registros relacionados con datos de partidos de béisbol. Realicé una limpieza completa del 100% de la información, eliminando datos irrelevantes y destacando únicamente aquellos más relevantes para su posterior tratamiento, lo que mejoró significativamente la calidad del archivo. Posteriormente, implementé modelos de procesamiento de datos que permitieron obtener resultados precisos y útiles. Con esta información, desarrollé un Dashboard interactivo que presenta los datos de forma clara y visualmente atractiva.",
  },
  {
    title: "Desarrollo de una aplicación móvil para compras.",
    company: "Tecnológico de Colima",
    location: "Colima, Colima",
    startDate: "Julio - 2023",
    endDate: "Agosto - 2023",
    description:
      "Desarrolle una aplicación móvil en Android para registrar productos de la canasta básica con sus respectivos precios, facilitando la comparación de precios en cualquier momento y almacenado la información en una BD.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItems {...experience} />
      </li>
    ))
  }
</ol>
