<div class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
  <span class="text-sm sm:text-center dark:text-zinc-200/90">
    © 2021 Juan Carlos Olivera Gómez. Todos los derechos reservados.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0">
    <li>
      <a href="#/sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
    </li>
    <li>
      <a id="contacto" class="hover:underline me-4 md:me-6" href="mailto:juancarlos.jcog63@gmail.com">Contacto</a>
    </li>
  </ul>
</div>

<style>
  @media (max-width: 640px) {
    span{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
    }
  }
</style>