---

---

<header
  class=`fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2
`
>
  <nav
    id="menu"
    class="scroll flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-blue-500 font-semibold"
      href="#experiencia">Experiencia</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 font-semibold"
      href="#proyectos">Proyectos</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 font-semibold"
      href="#sobre-mi">Sobre mi</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 font-semibold"
      href="mailto:juancarlos.jcog63@gmail.com">Contacto</a
    >
    <!-- Icono cambio de tema -->
    <div class="relative ml-1 mr-1">
      <button
        id="theme-toggle"
        class="p-2 hover:cursor-pointer hover:text-blue-500"
      >
        <span id="icon" class="flex hover:scale-110 transition">🌞</span>
      </button>
    </div>
  </nav>
</header>

<style>
  ul {
    gap: 1rem;
  }

  /** Scrool animacion */
  .scroll {
    position: fixed;
    top: 2rem;
    z-index: 10;
    background-color: bga(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
  }

  @media (max-width: 640px) {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      item-align: center;
      gap: 1rem;
    }
  }

  /** Scroll para pantallas pequeñas */
  @media (max-width: 640px) {
    .scroll {
      top: 1rem;
    }
    body {
      padding-top: 8rem;
    }
  }

  /** Estilo para el modo oscuro */
  @media (prefers-color-scheme: dark) {
    .scroll {
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
    }
  }

  /** Clase personalizada para alternar manualmente el tema */
  body.dark-mode {
    background-color: #1a202c;
    color: white;
  }

  body.ligth-mode {
    background-color: white;
    color: black;
  }
</style>

<!-- Cambio de tema -->
<script>
  const themeToggleBtn = document.getElementById("theme-toggle");
  const icon = document.getElementById("icon");

  // Detectar las preferencias del sistema
  const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

  // Guardar el tema en el almacenamineto local
  const currentTheme = localStorage.getItem("theme");

  // Aplicar el tema guardado
  if (currentTheme === "dark") {
    document.body.classList.add("dark-mode");
    if (icon) {
      icon.textContent = "🌙"; // Icono de luna
    }
  } else if (currentTheme === "light") {
    document.body.classList.add("light-mode");
    if (icon) {
      icon.textContent = "🌞"; // Icono de sol
    }
  }

  // Alternar el tema con el botón
  themeToggleBtn?.addEventListener("click", () => {
    if (document.body.classList.contains("dark-mode")) {
      document.body.classList.remove("dark-mode");
      document.body.classList.add("light-mode");
      if (icon) {
        icon.textContent = "🌞";
      }
      localStorage.setItem("theme", "light");
    } else {
      document.body.classList.remove("light-mode");
      document.body.classList.add("dark-mode");
      if (icon) {
        icon.textContent = "🌙";
      }
      localStorage.setItem("theme", "dark");
    }
  });
</script>
