---
import MenuDrop from '../img/MenuDrop.astro'
---

<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
    <nav>
        <ul class="flex flex-row gap-x-10 opacity-80">
            <li><a class="flex justify-center items-center hover:scale-110 transition hover:text-gray-400" href="/">Home</a></li>
            <li><a class="flex justify-center items-center hover:scale-110 transition hover:text-gray-400" href="/about">About</a></li>
            <li><a class="flex justify-center items-center hover:scale-110 transition hover:text-gray-400" href="/projects">Projects</a></li>
            <li><a class="flex justify-center items-center hover:scale-110 transition hover:text-gray-400" href="/contact">Contact</a></li>
        </ul>
</header>


<!-- Menu de forma responsiva -->
<style>
    header{
        flex-wrap: wrap;
        gap: 20px;
    }

    nav ul{
        flex-wrap: wrap;
    }

    @media screen and (max-width: 768px){
        header{
            flex-direction: row;
            justify-content: center;
        }

        nav ul{
            flex-direction: row;
            gap: 50px;
        }

        nav ul li{
            marigin: 5px 0;
        }
    }
</style>
