---
import DarkMode from "./DarkMode.astro";
---

<header
  class=`fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2
`
>
  <nav
    id="menu"
    class="scroll flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-blue-500 font-semibold"
      href="#experiencia">Experiencia</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 font-semibold"
      href="#proyectos">Proyectos</a
    >
    <a
    class="relative block px-2 py-2 transition hover:text-blue-500 font-semibold"
    href="#sobre-mi">Sobre mi</a
  >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 font-semibold"
      href="mailto:juancarlos.jcog63@gmail.com">Contacto</a
    >
    <!-- Icono cambio de tema -->
    <div class="relative ml-1 mr-1">
      <button id="presioname" class="p-2 hover:cursor-pointer">
        <DarkMode class="size-5" />
      </button>
    </div>
  </nav>
</header>


<!-- Cambio de tema -->
<script>
  // Constante del color dark system
  const darkThem = window.matchMedia("(prefers-color-scheme: dark)").matches;
  // Cambio de tema
  const darkMode = document.getElementById("presioname");
  if (darkMode) {
    darkMode.addEventListener("click", () => {
      document.body.classList.toggle("dark");
      console.log("Cambio de tema");
    });
  }
</script>

<style>
  ul {
    gap: 1rem;
  }

  /** Scrool animacion */
  .scroll {
    position: fixed;
    top: 2rem;
    z-index: 10;
    background-color: bga(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    backdrop-filter: blur(10px);
  }

  @media (max-width: 640px) {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      item-align: center;
      gap: 1rem;
    }
  }

  /** Scroll para pantallas pequeñas */
  @media (max-width: 640px) {
    .scroll {
      top: 1rem;
    }
    body {
      padding-top: 8rem;
    }
  }
</style>
